.sign-in {
  width: 415px;
  display: flex;
  flex-direction: column;
  .title {
    margin: 10px 0;
  }
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
    .buttons {
      justify-content: center;
      .custom-button {
        min-width: 50%;
        line-height: unset;
      }
    }
  }
}
