.header-search-box {
  .search-results {
    position: absolute;
    z-index: 10;
    width: 300px;
    background: white;
    border: 1px solid #ececec;
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    ul {
      padding: 0;
    }
    .item {
      list-style-type: none;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 40px;
      display: flex;
      align-items: center;
      padding-left: 10px;
      border-bottom: 1px solid #f2f2f2;
      &:hover {
        cursor: pointer;
        color: white;
        background: #4482c3;
      }
    }
  }
}
