.card-dropdown {
  height: 350px;
  width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 5;
  border: 1px solid black;
  .card-items {
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }
  button {
    margin-top: auto;
  }
}
