.card-dropdown {
  height: 350px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  position: absolute;
  top: 70px;
  right: 0;
  z-index: 5;
  border: 1px solid black;
  .card-items {
    height: 100%;
    background-color: white;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .empty-message {
    margin: 50px auto;
    font-size: 18px;
  }
  button {
    margin-top: auto;
  }
}
