.collection-slider {
  display: flex;
  flex-direction: column;
  .slider-wrapper {
    position: relative;
    &:hover {
      .silder-btn {
        display: flex;
      }
    }
    .silder-btn {
      position: absolute;
      top: 0;
      left: 0;
      // transform: translateY(-50%);
      font-size: 30px;
      width: 100%;
      height: 100%;
      display: none;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      @media screen and (max-width: 800px) {
        display: flex;
      }
      .left,
      .right {
        visibility: visible;
        opacity: 1;
        transition: all 0.2s linear;
        text-align: center;
        background: black;
        color: white;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        cursor: pointer;
        z-index: 3;
        transition: visibility 0s linear 300ms, opacity 300ms;
      }
      .left {
        left: 15px;
      }
      .right {
        right: 15px;
      }
    }
    .slider {
      width: 100%;
      overflow-x: scroll;
      scroll-behavior: smooth;
      &::-webkit-scrollbar {
        display: none;
      }
      .slides-wrapper {
        display: flex;
        width: 3000px;
        flex-wrap: wrap;

        .slides {
          display: flex;

          .collection-item {
            width: 24vw;
            padding: 0 5px;

            &.extra {
              display: flex;
              flex-direction: column;
              align-items: center;
              button {
                opacity: 1;
                display: flex;
                top: 50%;
                transform: translateY(-50%);
                .arrow {
                  margin-left: 5px;
                  font-size: 28px;
                }
              }
            }
            @media screen and (max-width: 800px) {
              width: 32vw;
            }
            @media screen and (max-width: 470px) {
              width: 46vw;
            }
            @media screen and (max-width: 320px) {
              width: 65vw;
            }
          }
        }
      }
    }
  }
}
