.collection-item {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 350px;
  align-items: center;
  position: relative;
  .image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
  }
  .collection-footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    .price {
      white-space: nowrap;
    }
  }
  &:hover {
    .image {
      opacity: 0.8;
    }
    button {
      display: flex;
      opacity: 0.8;
    }
  }
  .custom-button {
    position: absolute;
    top: 260px;
    opacity: 0.5;
    display: none;
  }
}
