.checkout-item {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid grey;
  font-size: 20px;
  text-align: center;
  width: 100%;
  .image-container {
    width: 23%;
    padding-right: 15px;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: 23%;
  }
  .remove {
    cursor: pointer;
    width: 123;
    display: flex;
    justify-content: center;
  }
}
