$base-width: 23%;
.checkout-item {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid grey;
  font-size: 20px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .image-container {
    width: $base-width;
    padding-right: 15px;
    @media screen and (max-width: 800px) {
      padding: 0;
      width: 17%;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
  .name,
  .quantity,
  .price {
    width: $base-width;
  }
  .name {
    @media screen and (max-width: 800px) {
      font-size: 16px;
    }
  }
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 800px) {
      font-size: 24px;
    }
    .arrow {
      cursor: pointer;
      padding: 0 10px;
    }
  }
  .remove {
    cursor: pointer;
    width: 15%;
    display: flex;
    justify-content: center;
  }
}
